{% extends 'base.html' %}
{% block head %}
<style>
  body {
    background: url("/static/images/melon-g9551061c7_1920.jpg");
  }
</style>
{% endblock %}
{% block title %}Select time{% endblock %} 

{% block body %}
<div class="sidenav">
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}

  <div>
    <form class="form" method="POST" action='/select_reservation'>
        Choose reservation time for:
        <p></p>
        <input name="date" value="{{date}}" class="form-control input-lg" readonly></input>        
                
        <select name="res_time" class="form-control input-lg">
            <option value="" disabled selected hidden>Choose Time</option>
            {% for time in available_times %} 
            <option value="{{time}}">{{time}}</option>
            {% endfor %}
        </select>
        <p></p>
        <button class="btn btn-block btn-secondary fw-bold border-white" type="submit">Make Reservation
        </button>
      
      </form>
  </div>

  <div>
    <p></p>
    <h2>or</h2>
    <a class="md" href='/view_my_reservations'>Click here to VIEW your existing reservations</a>
  </div>
  
</div>

{% endblock %}